@import "Index.css";

.app {
    background-color: var(--background-color);
    color: var(--text);
    transition: background-color 250ms ease-in-out;
}

.page-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding-top: 100px;
}

.text-card {
    max-width: 90%; /* for responsive scaling on different screens */
    min-width: 70%;
    background-color: var(--tertiary);
    padding: 5px;
    border-radius: 30px;

    display: flex;
    align-items: center;
}

.mascot {
    padding: 30px;
}

.rectangle-wrapper {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}

.button {
    margin: 14px;
}

.offscreen {
    position: absolute;
    left: -9999px;
}

@keyframes fade-in {
    from {
        opacity: 0;
    }
    to {
        opacity: 1.0;
    }
}