:root {
    --light-primary: #304FA3;
    --dark-primary: #892a3a;

    --primary: #304FA3; /*Polynesian blue*/
    --secondary: #4191DC; /*United Nations Blue*/
    --tertiary: #E5E5E5; /*Platinum*/
    --accent: #4CAF50; /*Pigment green*/
    --text: #000000; /*Black*/
    --box-shadow: #000000; /*Black*/
    --text-light: #FFFFFF; /*White*/
    --background-color: #FFFFFF; /*White*/
    --valid-color: #3fff3f;
    --invalid-color: red;
    --linear-gradient: linear-gradient(45deg, var(--primary), var(--secondary));
    --rgba-gradient: linear-gradient(to bottom, rgba(65, 145, 220, 0.75), rgba(48, 79, 163, 0.75));
    --toggle-bg: var(--secondary);
    --toggle-fg: var(--primary);

    --footer-min-height: 5vh;
}

[data-theme="dark"] {
    --primary: #892a3a; /*Dark Amaranth*/
    --secondary: #101010; /*Onyx*/
    --tertiary: #2D2D2D; /*Graphite*/
    --accent: #82B684; /*Muted Olive*/
    --text: #FFFFFF; /*White*/
    --background-color: #403f3f; /*Gunmetal*/
    --linear-gradient: linear-gradient(45deg, var(--primary), var(--secondary));
    --rgba-gradient: linear-gradient(to bottom, rgba(16, 16, 16, 1), rgba(137, 42, 58, 1));
    --toggle-bg: var(--primary);
    --toggle-fg: var(--secondary);
}