.account-card {
    min-height: 80vh;
    min-width: 80vw;
    text-align: center;
    justify-content: center;
    align-items: center;
    display: flex;
    flex-direction: column;
}

.input {
    width: 100%;
}

.dividing-line {
    border-bottom: 1px solid lightgray /*var(--text)*/;
    width: 100%;
    margin: 50px auto 100px auto;
}

.link-style {
    color: lightgray;
}