.account-card {
    min-height: 80vh;
    min-width: 80vw;
    text-align: center;
    justify-content: center;
    align-items: center;
    display: flex;
    flex-direction: column;
    border-radius: 30px;
}

.input {
    width: 100%;
}

.dividing-line {
    border-bottom: 1px solid lightgray /*var(--text)*/;
    width: 100%;
    margin: 50px auto 100px auto;
}

.link-style {
    color: lightgray;
}

.instructions {
    font-size: 0.75rem;
    border-radius: 0.5rem;
    background: var(--tertiary);
    color: var(--text);
    padding: 0.25rem;
    position: relative;
    bottom: -10px;
}

.instructions > svg {
    margin-right: 0.25rem;
}

.offscreen {
    position: absolute;
    left: -9999px;
}

.hide {
    display: none;
}

.valid {
    color: var(--valid-color);
    /*margin-left: 0.25rem;*/
}

.invalid {
    color: var(--invalid-color);
    /*margin-left: 0.25rem;*/
}

.errmsg {
    background-color: lightpink;
    color: firebrick;
    font-weight: bold;
    padding: 0.5rem;
    margin-bottom: 0.5rem;
}

.line {
    display: inline-block;
}
