.body {
    margin: 0;
    display: grid;
    grid-template-rows: auto 1fr auto;
    min-height: calc(100vh - var(--footer-min-height));
    animation: fade-in 1.5s;
}

.footer {
    background-image: var(--linear-gradient);
    padding: 1vh;
    min-height: var(--footer-min-height);
}

.footer-text {
    color: var(--text-light);
    text-align: center;
}

.header-link {
    color: var(--text-light);
    text-decoration: none;
}

.footer-link {
    color: var(--text-light);
}


@keyframes spin {
    from {
        --angle: 0deg;
    }
    to {
        --angle: 360deg;
    }
}