.body {
    margin: 0;
    display: grid;
    grid-template-rows: auto 1fr auto;
    min-height: 100vh;
}

.footer {
    background-image: var(--linear-gradient);
    padding: 1vh;
}

.footer-text {
    color: var(--text-light);
    text-align: center;
}

.header-link {
    color: var(--text-light);
    text-decoration: none;
}

.footer-link {
    color: var(--text-light);
}
